{% load staticfiles %}
<!doctype html>
<html>
	<head>
		<title>Бронирования</title>


    <link rel="stylesheet" href="{% static 'bootstrap.css' %}" type="text/css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'fixed.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'forinput.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'paginator4.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'auth_bar2.css' %}" type="text/css">


    <link rel="stylesheet" href="{% static 'footer.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'normolize.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'account_styles.css' %}" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">



	</head>
	<body>
			<header style = "height: auto;">
		<nav id = "menu11" class="navbar navbar-expand-lg navbar-dark ">
		<a class="navbar-brand" href="#" style = "width:170px;">
			<img src="{% static "images/logotype.png" %}" alt="Logo" style=" height: 80px;">
		</a>
		<div  id = "conts" class = "header_contacts " >
		<div class = "phone1_num">

		<i class="fa fa-phone" aria-hidden="true"></i>  8&nbsp;(999)&nbsp;777&nbsp;-&nbsp;83&nbsp;-&nbsp;00

		</div>
		<div class = "loc" >

		<i class="fa fa-map-marker" aria-hidden="true" ></i>г.&nbsp;Иркутск,&nbsp;ул.&nbsp;Лермонтова,&nbsp;дом&nbsp;3

		</div>
		</div>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon navbar-light"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbar1" >
		<ul class="navbar-nav  ml-auto" style = "font-size: 18px; height: auto;">
		<li class="nav-item " id = "el" ><a class="nav-link"  style = "color: white;" href="#">Главная <span class="sr-only">(current)</span></a></li>
		<li class="nav-item" id = "el"><a class="nav-link"  style = "color: white;" href="#">Отдых&nbsp;на&nbsp;Байкале</a></li>
		<li class="nav-item" id = "el"><a class="nav-link"  style = "color: white;" href="#">Блог</a></li>
		<li class="nav-item" id = "el"><a class="nav-link"  style = "color: white;" href="#">О&nbsp;нас</a></li>
		<li class="nav-item" id = "el"><a class="nav-link"  style = "color: white;" href="#">Контакты</a></li>
            <li class=" auth" >	<a class = "username" href="{% url 'personal_account_show' %}"> {% if user.username %}{{user.username}} </a> |  <a class = "out" href = "{% url 'log_out' %}">Выйти</a>{% else %} <a class= "out" href = "{% url 'go_auth' %}">Вход</a> | <a  class= "out" href = "{% url 'registr' %}">Регистрация</a>{%endif%} {%if user.is_staff == True%}|  <a class= "out" href = "{% url 'bookingsList' %}" > В&nbsp;админку</a>{%endif%}  </li>

		</ul>

		</div>
		</nav>
		</header>
		<div class = "backgr">


		Личный кабинет
	</div>


	<div>
	</div>
	<nav class = "acc_nav">

	<ul class="acc_menu" style ="margin-top:20px;" >
							<li class = "part1"><a href="#">Бронирования</a></li>
							<li class = "part1"><a href="#">Настройки аккаунта</a></li>


						</ul>
	</nav>
	<div class="section_title">
	<hr style = "height: 1 px; width: 300px; background-color:#6666ff">
		<h2>Бронирования</h2>
		</div>
	<div class = "main_cont">
{% for b in bookings %}
		<div class = "card">
		<div class = "tour_img"> <img src = "{{b.tourInT.tourID.preview_img.url}}"></div>
		<div class = "card_text">
		<span class = "main">{{b.tourInT.tourID.name}} </span>
		<div class = "card_info">
		<div class = "tour_duration"> Дата: {{b.tourInT.date | date:"d M Y"}} </div>
		<div class = "payment">  </div>
		<div class = "status"> Статус: {{b.status}} </div>
		</div>
		<div class = "card_button" style="width:210px;"> <a href = "#" > Подробнее </a></div>
		</div>
		</div>
    <script type="text/javascript">
      var price = {{b.tourInT.price}};
      var count = {{b.number_of_people}};
      var sum = Number.parseInt(price)*Number.parseInt(count);
      console.log(sum)
      var paid = Number.parseInt({{b.payment}});

      var result = "";
      var r = sum-paid;
      console.log(r)
      if (paid == sum) result = "Оплачено";
      if (paid < sum) result = "Требуется оплатить " + r + " р";
      if (paid > sum) result = "Переплата " + r + " р";
      document.getElementsByClassName("payment")[0].innerHTML = result;
    </script>

{% endfor %}







	</div>


  <div class = "forPage">
    <div id="pagination"></div>
    </div>












		<footer>
		<div class = "footer_main_cont">
		<div class = "footer_first_con">

		<div class = "footer_contacts">

		<p>тел.:8&nbsp;(999)&nbsp;777&nbsp;-&nbsp;83&nbsp;-&nbsp;00</p>
		<p>г.&nbspИркутск, ул.&nbspЛермонтова, дом&nbsp3</p>
		<p>E-mail: qqqq@mail.ru</p>
		</div>

		<div class = "footer_nav">
		<nav class = "nav_class">


		<a href="{% url 'getTours' %}">Туры</a> <a href="{% url 'getPlaces' %}">Направления</a> <a href="{% url 'getHotels' %}">Проживание</a> <a href="{% url 'transfer' %}">Трансфер</a><a href="{% url 'getArticles' %}">Блог</a><a href="{% url 'getTeam' %}">О&nbspнас</a><a href="{% url 'contacts' %}">Контакты</a>


		</nav>
		</div>

		<div class = "footer_social">

				<a href="{% url 'getTours' %}">Туры</a> <a href="{% url 'getPlaces' %}">Направления</a> <a href="{% url 'getHotels' %}">Проживание</a> <a href="{% url 'transfer' %}">Трансфер</a><a href="{% url 'getArticles' %}">Блог</a><a href="{% url 'getTeam' %}">О&nbspнас</a><a href="{% url 'contacts' %}">Контакты</a>


		</div>
		</div>
		<!--
		<div class = "footer_logo">
		<img id="footer_logo" src="http://demiart.ru/forum/uploads7/post-802773-1311062308.png" >
		</div>
		-->
		</div>


		</div>



		<div class = "footer_sec_con">
		<p>Агентство путешествий Resort </p>
		</div>





		</div>

		 </footer>
  
        <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
      <script type="text/javascript" src=" {% static 'js/jquery-ui.min.js' %} "></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>






		</body>
		</html>
