<!doctype html>
{% load staticfiles %}
<html>
	<head>

		<link rel="stylesheet" href="{% static 'forinput.css' %}" type="text/css">

				<link rel="stylesheet" href="{% static 'bootstrap.css' %}" type="text/css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'fixed.css' %}" type="text/css">
<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport" />
		<script src="https://vk.com/js/api/openapi.js?160" type="text/javascript"></script>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{{place.name}}</title>

		<link rel="stylesheet" href="{% static 'header.css' %}" type="text/css">
				<link rel="stylesheet" href="{% static 'placeCard_styles6.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'slider_place_style.css' %}" type="text/css">
					<link rel="stylesheet" href="{% static 'footer.css' %}" type="text/css">
					<link rel="stylesheet" href="{% static 'normolize.css' %}" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
		<link rel="stylesheet" media="screen and (max<header class = "page_header">


	<link rel="stylesheet" href="{% static 'auth_bar2.css' %}" type="text/css">

	</head>
	<body> <style>.fa:hover{cursor: pointer;}</style>
		<header style = "height: auto;">
			<nav id = "menu11" class="navbar navbar-expand-lg navbar-dark ">
				<a class="navbar-brand" href="#" style = "width:170px;">
					<img src="{% static "images/logotype.png" %}" alt="Logo" style=" height: 80px;">
				</a>
				<div  id = "conts" class = "header_contacts " >
					<div class = "phone1_num">
						<i class="fa fa-phone" aria-hidden="true"></i>  8&nbsp;(999)&nbsp;777&nbsp;-&nbsp;83&nbsp;-&nbsp;00
					</div>
					<div class = "loc" >
						<i class="fa fa-map-marker" aria-hidden="true" ></i>г.&nbsp;Иркутск,&nbsp;ул.&nbsp;Лермонтова,&nbsp;дом&nbsp;3
					</div>
				</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon navbar-light"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbar1" >
					<ul class="navbar-nav  ml-auto" style = "font-size: 18px; height: auto;">
						<li class="nav-item" ><a class="nav-link"  style = "color: white;" href="{% url 'index' %}">Главная <span class="sr-only">(current)</span></a></li>
						<li class="nav-item" ><a class="nav-link"  style = "color: white;" href="{% url 'rest' %}">Отдых&nbsp;на&nbsp;Байкале</a></li>
						<li class="nav-item" ><a class="nav-link"  style = "color: white;" href="{% url 'getArticles' %}">Блог</a></li>
						<li class="nav-item" ><a class="nav-link"  style = "color: white;" href="{% url 'getTeam' %}">О&nbsp;нас</a></li>
						<li class="nav-item" id = "last" ><a class="nav-link"  style = "color: white;" href="{% url 'contacts' %}">Контакты</a></li>
            <li class=" auth" >	<a class = "username" href="{% url 'personal_account_show' %}"> {% if user.username %}{{user.username}} </a> |  <a class = "out" href = "{% url 'log_out' %}">Выйти</a>{% else %} <a class= "out" href = "{% url 'go_auth' %}">Вход</a> | <a  class= "out" href = "{% url 'registr' %}">Регистрация</a>{%endif%} {%if user.is_staff == True%}|  <a class= "out" href = "{% url 'bookingsList' %}" > В&nbsp;админку</a>{%endif%}  </li>
					</ul>

				</div>
			</nav>
		</header>
	</div>

	<div class = "backgr">

	Направления
	</div>






















		<div class = "main">
	<div class = "middle">

	<ul id="breadcrumbs-one">
		<li><a href="index.html">Главная</a></li>
	<li class = "arrow">></li>
		<li><a href="{% url 'getPlaces' %}">Направления</a></li>
	<li class = "arrow">></li>
		<li><a href="">{{place.name}}</a></li>

	</ul>

	</div>
		<div class="section_title">
	<hr style = "height: 1 px; width: 300px; background-color:#6666ff">
		<h2>{{place.name}}</h2>
		</div>





<div class = "text_about">
{{place.description}}</div>





	<div class="slider" style = "width:100%;">
    <div class="slider__wrapper">
			{% for s in place.slider.all %}
			<div class="slider__item">
				<div style="height: 400px; width: 70%; margin: 0 auto; background-image: url({{s.img.url}});"></div>
			</div>
		{%endfor%}


    </div>
    <a class="slider__control slider__control_left" href="#" role="button"></a>
    <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
  </div>









<div class = "track_map">
	<div class="section_title">
	<hr style = "height: 1 px; width: 300px; background-color:#6666ff">
		<h2>На карте</h2>
	</div>
	<div class = "for_map">
		<div id="map" style="width: 70%; height:500px"></div>
	</div>
	</div>


		</div>

		<div class="section_title">
	<hr style = "height: 1 px; width: 300px; background-color:#6666ff">
		<h2>Туры здесь</h2>
		</div>

			<div class = "cont">
{% for t in tours %}

	<div class = "card">
		<div class = "inner_card">	<div class = "tour_img"> <img src = "{{t.preview_img.url}}"></div>
		<div class = "card_text"> <p class = "main">{{t.name}} </p>
		<div class = "card_info">
		<div class = "tour_duration"> Кол-во дней: {{t.number_of_days}} </div>
		<div class = "tour_places">
			{% for p in t.places.all %}
			{% if forloop.counter < 3 %}
		<div class = "place"> <a href = "{% url 'placeCard' p.id %}">{{p.name}}</a></div>


		{% endif %}
		{% endfor %}


		</div>
		</div>
		<p class = "card_description">{{t.preview_descr}}<p/></div></div>

		<div class = "card_button"> <a href = "{% url 'tourCard' t.url  %}" > Подробнее </a></div>
		</div>
{% endfor %}








		</div>
		<div class="more_tours">
	<a href = "{% url 'getTours' %}?check={{place.name}}" class = "more_button">Смотреть все туры</a>
	</div>

	{% if hotels %}
		<div class="section_title">
	<hr style = "height: 1 px; width: 300px; background-color:#6666ff">
		<h2>Гостиницы в этом месте</h2>

		</div>

		<div class = "cont" id = "hotels">
			{%for hotel in hotels %}
			<div class = "card">
			<div class = "inner_card">	<div class = "tour_img"> <img src = "{{hotel.preview_img.url}}"></div>
				<div class = "place"> <a href = "{% url 'placeCard' hotel.place.id %}"> {{hotel.place.name}} </a></div>
			<div class = "card_text"> <p class = "main">{{hotel.name}} </p>
			<div class = "card_info">

			</div>
			<p class = "card_description">{{hotel.preview_descr}}
				<p/></div></div>

			<div class = "card_buttons">
			<div class = "priceAndButton">

			<div class = "card_button"> <a href = "{% url 'hotelCard' hotel.id  %}" > Подробнее </a></div>
			</div>
			</div>
			</div>

{% endfor %}

		</div>
		<div class="more_tours">
	<a href = "{% url 'getHotels' %}?check={{place.name}}" class = "more_button">Смотреть все гостиницы</a>
	</div>

{% endif %}

		</div>



		<footer>
	  <div class = "footer_main_cont">
	  <div class = "footer_first_con">

	  <div class = "footer_contacts">

	  <p>тел.:8&nbsp;(999)&nbsp;777&nbsp;-&nbsp;83&nbsp;-&nbsp;00</p>
	  <p>г.&nbspИркутск, ул.&nbspЛермонтова, дом&nbsp3</p>
	  <p>E-mail: qqqq@mail.ru</p>
	  </div>

	  <div class = "footer_nav">
	  <nav class = "nav_class">


			<a href="{% url 'getTours' %}">Туры</a> <a href="{% url 'getPlaces' %}">Направления</a> <a href="{% url 'getHotels' %}">Проживание</a> <a href="{% url 'transfer' %}">Трансфер</a><a href="{% url 'getArticles' %}">Блог</a><a href="{% url 'getTeam' %}">О&nbspнас</a><a href="{% url 'contacts' %}">Контакты</a>




	  </nav>
	  </div>

	  <div class = "footer_social">

	  <div class = "footer_social_icons">
	  <div class = "icons_h">Мы в соц сетях: </div>
	  <div class = "iconsSoc">
	  <img src="{% static "images/vk.png" %}">
	  <img src="{% static "images/inst.png" %}">
	  <img src="{% static "images/facebook.png" %}">
	  </div>
	  </div>
	  <!--
	  <div class = "footer_logo">
	  <img id="footer_logo" src="http://demiart.ru/forum/uploads7/post-802773-1311062308.png" >
	  </div>
	  -->
	  </div>


	  </div>



	  <div class = "footer_sec_con">
	  <p>Агентство путешествий Resort </p>
	  </div>





	  </div>

	  </footer>




			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script type="text/javascript">
		        // Как только будет загружен API и готов DOM, выполняем инициализацию
		        ymaps.ready(init);

		        function init () {
		            // Создание экземпляра карты и его привязка к контейнеру с
		            // заданным id ("map")
		            var myMap = new ymaps.Map('map', {
		                    // При инициализации карты, обязательно нужно указать
		                    // ее центр и коэффициент масштабирования
		                    center: [53.167844, 107.373614], // Нижний Новгород
		                    zoom: 10
		                });

						// Создание метки


						var myPlacemark = new ymaps.Placemark(
						// Координаты метки
						[{{place.coords}}] , {
		                    // Свойства
		                    // Текст метки
		                    hintContent: 'Нижний Новгород'
		                });


					// Добавление метки на карту
					myMap.geoObjects.add(myPlacemark);


		        }






		    </script>

				 <script>
    'use strict';
    var multiItemSlider = (function () {
      return function (selector, config) {
        var
          _mainElement = document.querySelector(selector), // основный элемент блока
          _sliderWrapper = _mainElement.querySelector('.slider__wrapper'), // обертка для .slider-item
          _sliderItems = _mainElement.querySelectorAll('.slider__item'), // элементы (.slider-item)
          _sliderControls = _mainElement.querySelectorAll('.slider__control'), // элементы управления
          _sliderControlLeft = _mainElement.querySelector('.slider__control_left'), // кнопка "LEFT"
          _sliderControlRight = _mainElement.querySelector('.slider__control_right'), // кнопка "RIGHT"
          _wrapperWidth = parseFloat(getComputedStyle(_sliderWrapper).width), // ширина обёртки
          _itemWidth = parseFloat(getComputedStyle(_sliderItems[0]).width), // ширина одного элемента
          _positionLeftItem = 0, // позиция левого активного элемента
          _transform = 0, // значение транфсофрмации .slider_wrapper
          _step = _itemWidth / _wrapperWidth * 100, // величина шага (для трансформации)
          _items = []; // массив элементов
        // наполнение массива _items
        _sliderItems.forEach(function (item, index) {
          _items.push({ item: item, position: index, transform: 0 });
        });

        var position = {
          getMin: 0,
          getMax: _items.length - 1,
        }

        var _transformItem = function (direction) {
          if (direction === 'right') {
            if ((_positionLeftItem + _wrapperWidth / _itemWidth - 1) >= position.getMax) {
              return;
            }
            if (!_sliderControlLeft.classList.contains('slider__control_show')) {
              _sliderControlLeft.classList.add('slider__control_show');
            }
            if (_sliderControlRight.classList.contains('slider__control_show') && (_positionLeftItem + _wrapperWidth / _itemWidth) >= position.getMax) {
              _sliderControlRight.classList.remove('slider__control_show');
            }
            _positionLeftItem++;
            _transform -= _step;
          }
          if (direction === 'left') {
            if (_positionLeftItem <= position.getMin) {
              return;
            }
            if (!_sliderControlRight.classList.contains('slider__control_show')) {
              _sliderControlRight.classList.add('slider__control_show');
            }
            if (_sliderControlLeft.classList.contains('slider__control_show') && _positionLeftItem - 1 <= position.getMin) {
              _sliderControlLeft.classList.remove('slider__control_show');
            }
            _positionLeftItem--;
            _transform += _step;
          }
          _sliderWrapper.style.transform = 'translateX(' + _transform + '%)';
        }

        // обработчик события click для кнопок "назад" и "вперед"
        var _controlClick = function (e) {
          var direction = this.classList.contains('slider__control_right') ? 'right' : 'left';
          e.preventDefault();
          _transformItem(direction);
        };

        var _setUpListeners = function () {
          // добавление к кнопкам "назад" и "вперед" обрботчика _controlClick для событя click
          _sliderControls.forEach(function (item) {
            item.addEventListener('click', _controlClick);
          });
        }

        // инициализация
        _setUpListeners();

        return {
          right: function () { // метод right
            _transformItem('right');
          },
          left: function () { // метод left
            _transformItem('left');
          }
        }

      }
    }());

    var slider = multiItemSlider('.slider')

  </script>
	</body>
	</html>
