{% load staticfiles %}

<!doctype html>
<html>
	<head>

    <link rel="stylesheet" href="{% static 'bootstrap.css' %}" type="text/css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'fixed.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'auth_bar2.css' %}" type="text/css">


		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport" />
		<script src="https://vk.com/js/api/openapi.js?160" type="text/javascript"></script>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>Трансфер</title>
    <link rel="stylesheet" href="{% static 'transfer_styles.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'forinput.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'footer.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'normolize.css' %}" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<link rel="stylesheet" media="screen and (max<header class = "page_header">
	</head>
	<body> <style>.fa:hover{cursor: pointer;}</style>

    <header style = "height: auto;">
			<nav id = "menu11" class="navbar navbar-expand-lg navbar-dark ">
				<a class="navbar-brand" href="#" style = "width:170px;">
					<img src="{% static "images/logotype.png" %}" alt="Logo" style=" height: 80px;">
				</a>
				<div  id = "conts" class = "header_contacts " >
					<div class = "phone1_num">
						<i class="fa fa-phone" aria-hidden="true"></i>  8&nbsp;(999)&nbsp;777&nbsp;-&nbsp;83&nbsp;-&nbsp;00
					</div>
					<div class = "loc" >
						<i class="fa fa-map-marker" aria-hidden="true" ></i>г.&nbsp;Иркутск,&nbsp;ул.&nbsp;Лермонтова,&nbsp;дом&nbsp;3
					</div>
				</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon navbar-light"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbar1" >
					<ul class="navbar-nav  ml-auto" style = "font-size: 18px; height: auto;">
						<li class="nav-item" ><a class="nav-link"  style = "color: white;" href="{% url 'index' %}">Главная <span class="sr-only">(current)</span></a></li>
						<li class="nav-item" ><a class="nav-link"  style = "color: white;" href="{% url 'rest' %}">Отдых&nbsp;на&nbsp;Байкале</a></li>
						<li class="nav-item" ><a class="nav-link"  style = "color: white;" href="{% url 'getArticles' %}">Блог</a></li>
						<li class="nav-item" ><a class="nav-link"  style = "color: white;" href="{% url 'getTeam' %}">О&nbsp;нас</a></li>
						<li class="nav-item" id = "last" ><a class="nav-link"  style = "color: white;" href="{% url 'contacts' %}">Контакты</a></li>
						<li class=" auth" style="line-height:1.5">	<a class = "username" href="{% url 'personal_account_show' %}"> {% if user.username %}{{user.username}} </a> |  <a class = "out" href = "{% url 'log_out' %}">Выйти</a>{% else %} <a class= "out" href = "{% url 'go_auth' %}">Вход</a> | <a  class= "out" href = "{% url 'registr' %}">Регистрация</a>{%endif%} {%if user.is_staff == True%}|  <a class= "out" href = "{% url 'bookingsList' %}" > В&nbsp;админку</a>{%endif%}  </li>

					</ul>

				</div>
			</nav>
		</header>




	</div>

	<div class = "backgr">

		Трансфер
	</div>


	<div class = "middle">

	<ul id="breadcrumbs-one">
		<li><a href="{%url 'index'%}">Главная</a></li>
		<li class = "arrow">></li>
		<li><a href="">Трансфер</a></li>


	</ul>


	</div>


	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Заявка на трансфер</h5>

					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="contactForm" action="handler.php" method="post">
						<p>Выбранный маршрут: Иркутск-Листвянка</p>
						<div class="form-group">
							<label for="name">Дата:</label><br>
								<input type="date"class = "box" name="date" placeholder = "" style = "height: 45px; width:230px; border-radius: 5px; color:gray; "/>
						</div>

						<div class="form-group">
						<label for="name">Количество человек:</label><br>
							 <div>
    <div class="btn-spn btn-spn-sm input-group " style = "max-width: 200px;"	>
      <span class="input-group-btn">
        <button
          class="btn btn-secondary btn-spn-down"
	  type="button"><i class="fa fa-minus-square" aria-hidden="true"></i></i></button>
      </span>
      <input value='5' min='1' max='90' class='btn-spn-input form-control text-center'>
      <span class='input-group-btn'>
        <button
          class='btn btn-secondary btn-spn-up'
          type='button'><i class="fa fa-plus"></i></button>
      </span>
    </div>
    <br>
							</div>
					</div>





						<div class="form-group">
							<label for="name">Ваше имя:</label>
							<input id="name" class="form-control" name="name"  style = "max-width: 95%;" required type="text" placeholder="Иванов Иван Иванович">
						</div>
						<div class="form-group">
							<label for="email">Ваш E-mail:</label>
							<input id="email" class="form-control" name="email" style = "max-width: 95%;" required type="email" placeholder="ivanov@email.com">
						</div>
						<div class="form-group">
							<label for="phone">Ваш телефон:</label>
							<input id="phone" class="form-control" name="phone" required type="text" placeholder="+7 (800) 000-00-00">
						</div>
						<div class="form-group">
							<label for="message">Текст сообщения:</label>
							<textarea id="message" style = "max-width: 95%;" class="form-control" required name="message" rows="4"></textarea>
						</div>
						<div class="form-group form-check">
							<input id="check" class="form-check-input" checked type="checkbox">
							<label class="form-check-label" for="check">Я добровольно отправляю свои данные</label>
						</div>
						<button id="button" class="btn btn-outline-primary" type="submit">Отправить</button>
						<div class="result">
							<span id="answer"></span>
							<span id="loader" style="display:none"><img src="images/loader.gif" alt=""></span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->

	<!-- Подключение урезанной версии jQuery -->
	<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->

	<!-- Подключение полной версии jQuery -->

	<!-- Маска для номера телефона -->

	<!-- Инициализация и Ajax-запрос -->
	<script>jQuery(document).ready(function($) {

    // Добавляем маску для поля с номера телефона
    $('#phone').mask('+7 (999) 999-99-99');

    // Проверяет отмечен ли чекбокс согласия
    // с обработкой персональных данных
    $('#check').on('click', function() {
        if ($("#check").prop("checked")) {
            $('#button').attr('disabled', false);
        } else {
            $('#button').attr('disabled', true);
        }
    });

    // Отправляет данные из формы на сервер и получает ответ
    $('#contactForm').on('submit', function(event) {

        event.preventDefault();

        var form = $('#contactForm'),
            button = $('#button'),
            answer = $('#answer'),
            loader = $('#loader');

        $.ajax({
            url: 'handler.php',
            type: 'POST',
            data: form.serialize(),
            beforeSend: function() {
                answer.empty();
                button.attr('disabled', true).css('margin-bottom', '20px');
                loader.fadeIn();
            },
            success: function(result) {
                loader.fadeOut(300, function() {
                    answer.text(result);
                });
                form.find('.form-control').val('');
                button.attr('disabled', false);
            },
            error: function() {
                loader.fadeOut(300, function() {
                    answer.text('Произошла ошибка! Попробуйте позже.');
                });
                button.attr('disabled', false);
            }
        });

    });

});</script>



<hr style = "height: 1 px; width: 300px; background-color:#6666ff">
	<div class = "fl">
  </div>
  	<div style = "color: black; font-size: 20px; text-align: center; width: 80%; margin: 0 auto; margin-top: 20px;">
Мы предлагаем трансфер на Байкале по различным направлениям. Для заказа трансфера выберите подходящий маршрут, нажмите кнопку "Оставить заявку" и мы свяжемся с Вами.
	</div>

	   <div id="fade" class="black-overlay"></div>
  <div class = "cont">



    <div class = "card">
  <div class = "card_img"> <img src="{% static 'images/winter1.jpg' %}"></div>
  <div class = "info">

  <div class = "name">Иркутск-Листвянка </div>
  <div class = "price">от 900 р</div>
<div class = "book">	<div class="container">
		<div class="my-5 mx-auto text-center">
	<button class="btn btn-dark btn-lg" style = "width: 200px; height:30px; border-radius: 2px;" data-toggle="modal" data-target="#exampleModal">Оставить заявку</button>
		</div>
	</div></div>
  </div>


  </div>


     <div class = "card">
  <div class = "card_img"> <img src="{% static 'images/895_2873.jpg' %}"></div>
  <div class = "info">

  <div class = "name">Иркутск-Хужир </div>
  <div class = "price">от 900 р</div>
<div class = "book">	<div class="container">
		<div class="my-5 mx-auto text-center">
			<button class="btn btn-dark btn-lg" style = "width: 200px; height:30px; border-radius: 2px;" data-toggle="modal" data-target="#exampleModal">Оставить заявку</button>
		</div>
	</div></div>
  </div>


  </div>


     <div class = "card">
  <div class = "card_img"> <img src="{% static 'images/133.jpg' %}"></div>
  <div class = "info">

  <div class = "name">Хужир-Листвянка </div>
  <div class = "price">от 900 р</div>
<div class = "book">	<div class="container">
		<div class="my-5 mx-auto text-center">
	<button class="btn btn-dark btn-lg" style = "width: 200px; height:30px; border-radius: 2px;" data-toggle="modal" data-target="#exampleModal">Оставить заявку</button>
		</div>
	</div></div>
  </div>


  </div>


     <div class = "card">
  <div class = "card_img"> <img src="{% static 'images/winter1.jpg' %}"></div>
  <div class = "info">

  <div class = "name">Иркутск-Листвянка </div>
  <div class = "price">от 900 р</div>
<div class = "book">	<div class="container">
		<div class="my-5 mx-auto text-center">
			<button class="btn btn-dark btn-lg" style = "width: 200px; height:30px; border-radius: 2px;" data-toggle="modal" data-target="#exampleModal">Оставить заявку</button>
		</div>
	</div></div>
  </div>


  </div>





 </div>
















<footer>
		<div class = "footer_main_cont">
		<div class = "footer_first_con">

		<div class = "footer_contacts">

		<p>тел.:8&nbsp;(999)&nbsp;777&nbsp;-&nbsp;83&nbsp;-&nbsp;00</p>
		<p>г.&nbspИркутск, ул.&nbspЛермонтова, дом&nbsp3</p>
		<p>E-mail: qqqq@mail.ru</p>
		</div>

		<div class = "footer_nav">
		<nav class = "nav_class">


		<a href="{% url 'getTours' %}">Туры</a> <a href="{% url 'getPlaces' %}">Направления</a> <a href="{% url 'getHotels' %}">Проживание</a> <a href="{% url 'transfer' %}">Трансфер</a><a href="{% url 'getArticles' %}">Блог</a><a href="{% url 'getTeam' %}">О&nbspнас</a><a href="{% url 'contacts' %}">Контакты</a>


		</nav>
		</div>

		<div class = "footer_social">

		<div class = "footer_social_icons">
		<div class = "icons_h">Мы в соц сетях: </div>
		<div class = "iconsSoc">
      <img src="{% static "images/vk.png" %}">
      <img src="{% static "images/inst.png" %}">
      <img src="{% static "images/facebook.png" %}">
		</div>
		</div>
		<!--
		<div class = "footer_logo">
		<img id="footer_logo" src="http://demiart.ru/forum/uploads7/post-802773-1311062308.png" >
		</div>
		-->
		</div>


		</div>



		<div class = "footer_sec_con">
		<p>Агентство путешествий Resort </p>
		</div>





		</div>

		</footer>

				<script src="js/jquery-3.3.1.min.js" ></script>
		<script src="js/popper.js" ></script>
		<script src="js/bootstrap.js" ></script>
	<script>

addEventListenerAll('.btn-spn-up', 'click', event => this.spinUp(event))
addEventListenerAll('.btn-spn-down', 'click', event => this.spinDown(event))

function spinUp(event) {
  var spinRoot = event.currentTarget.parentElement.parentElement  // .btn-spn
  var spinInput = spinRoot.children[1]
  if (!spinInput.value || spinInput.value==="" || isNaN(parseInt(spinInput.value)))
    spinInput.value = 0
  var spinValue = parseInt(spinInput.value)

  var max = spinInput.getAttribute('max')
  if (!max || spinValue < max)
    spinInput.value = spinValue+1
  else if (max && spinValue > max)
    spinInput.value = max
}

function spinDown(event) {
  var spinRoot = event.currentTarget.parentElement.parentElement  // .btn-spn
  var spinInput = spinRoot.children[1]
  if (!spinInput.value || spinInput.value==="" || isNaN(parseInt(spinInput.value)))
    spinInput.value = 0
  var spinValue = parseInt(spinInput.value)

  var min = spinInput.getAttribute('min')
  if (!min || spinValue > min)
    spinInput.value = spinValue-1
  else if (min && spinValue < min)
    spinInput.value = min
}

function addEventListenerAll(selector, eventName, eventHandler) {
  var elements = document.querySelectorAll(selector)
  for(var i = 0; i<elements.length; i++) {
      elements[i].addEventListener(eventName, eventHandler)
  }
}</script>


	</body>

	</html>
